<form [formGroup]="studentForm" (ngSubmit)="submit()">   
    <div>     
        <label for="name"> Name</label>     
        <input id="name" type="text" formControlName="name" />  
     </div>   
     <div *ngIf="studentForm.controls['name'].errors?.['required'] && submitted" class="error">
        Name is required.
      </div>
     <ng-container formArrayName="emails">     
        <ng-container *ngFor="let emailForm of emails.controls; let i = index">       
            <div [formGroupName]="i"> 
                <label for="email"> Email</label>         
                <input id="email" type="text" formControlName="email" />      
            </div>     
            <div class="error" *ngIf="submitted && emailIndex(i).controls['email'].hasError('required') "> 
                Email is required.
                <span>

                </span>
             </div> 
             <div class="error" *ngIf=" submitted && emailIndex(i).controls['email'].hasError('pattern') "> 
                Email is invalid.
             </div>  
        </ng-container>   
    </ng-container>  
    <button type="button" (click)="addNewEmail()">Add</button> 
    <ng-container formArrayName="mobile">     
        <ng-container *ngFor="let mobileForm of mobile.controls; let i = index">       
            <div [formGroupName]="i"> 
                <label for="mobileNumber"> Mobile Number</label>         
                <input id="mobileNumber" type="text" formControlName="mobileNumber" />
                <div class="error" *ngIf="submitted && mobileIndex(i).controls['mobileNumber'].hasError('required')"> 
                    Mobile is required.
                 </div> 
                 <div class="error" *ngIf="submitted && mobileIndex(i).controls['mobileNumber'].hasError('maxlength')"> 
                    Mobile Number is Invalid.
                 </div> 
                 <div class="error" *ngIf="submitted && mobileIndex(i).controls['mobileNumber'].hasError('pattern')"> 
                    Mobile Number is Invalid.
                 </div> 
                    <input type="radio" value="home" formControlName="mobileType">
                    <label for="home">Home</label>
                    <input type="radio" value="mobile" formControlName="mobileType">
                    <label for="mobile">Mobile</label>

                    <input type="radio" value="work" formControlName="mobileType">
                    <label for="work">Work</label>
            </div>     
        </ng-container>   
    </ng-container>     
    <button type="button" (click)="addNewMobile()">Add</button> 
    <ng-container formArrayName="school">     
        <ng-container *ngFor="let schoolForm of school.controls; let i = index">       
            <div [formGroupName]="i"> 
                <label for="schoolName"> Name</label>         
                <input id="schoolName" type="text" formControlName="schoolName" />
                <div class="error" *ngIf="submitted && schoolIndex(i).controls['schoolName'].hasError('required')"> 
                    Name is required.
                 </div> 
                <label for="address"> Address</label>  
                <textarea id="address" type="text" formControlName="address" >
                    </textarea>
                    <div class="error" *ngIf="submitted && schoolIndex(i).controls['address'].hasError('required')"> 
                        Address is required.
                     </div>
                <label for="state">State:</label>
                <select id="state" name="state" formControlName="state">
                    <option value=""> All</option>
                    <option *ngFor="let stateData of stateList">{{stateData.value}}</option>
                </select>  
                <div class="error" *ngIf="submitted && schoolIndex(i).controls['state'].hasError('required')"> 
                    State is required.
                 </div>
                <label for="nationality">Nationality:</label>
                <select id="nationality" name="nationality" formControlName="nationality">
                      <option value=""> All</option> 
                      <option *ngFor="let nationalityData of nationalityList"> {{nationalityData.value}} </option>
                </select>  
                <div class="error" *ngIf="submitted && schoolIndex(i).controls['nationality'].hasError('required')"> 
                    Nationality is required.
                 </div>
                <label for="fromToYear">From-To Year:</label>
                <select id="fromToYear" name="fromToYear" formControlName="fromToYear">
                     <option value=""> All</option> 
                     <option *ngFor="let data of fromToYearList"> {{data.value}} </option>
                </select>  
                <div class="error" *ngIf="submitted && schoolIndex(i).controls['fromToYear'].hasError('required')"> 
                    From-To Year is required.
                 </div>
            </div>     
        </ng-container>   
    </ng-container>
    <button type="button" (click)="addNewSchool()">Add</button> 
    <div>
    <button class="mat-button" type="submit">Submit</button> 
    </div>
</form>


